[package]
name = "stream"
version = "0.1.0"
edition = "2021"


[dependencies]
bincode = "1.3"
chrono = "0.4"
serde = { version = "1.0", features = ["derive"]}


[dependencies.rocksdb]
version = "0.18"
default-features = false
features = ["multi-threaded-cf", "lz4"]


[dev-dependencies]
